VITE_FIREBASE_API_KEY=AIzaSyBQhFjEqFJMOXxFrXbi1pNXizZKICDKs8o
VITE_FIREBASE_AUTH_DOMAIN=dai-crm.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=dai-crm
VITE_FIREBASE_STORAGE_BUCKET=dai-crm.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=659185513159
VITE_FIREBASE_APP_ID=1:659185513159:web:4bd2c14d14ae94764604e2
